/* Navbar.css */
.navbar {
    background-color: #ffd7ee;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Navbar genişliği */
    height: 100vh; /* Tam ekran boyutunda */
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    justify-content: flex-start; /* Başlangıç noktasından hizalanır */
    align-items: center;
    padding-top: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Hafif bir gölge eklenir */
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Dikey sıralama */
    align-items: center; /* İçeriklerin ortalanması */
  }
  
  .navbar-item {
    margin: 20px 0; /* Her öğe arasında boşluk bırak */
    display: flex;
    flex-direction: column;
    align-items: center; /* İçerikleri ortala */
    text-align: center;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #000; /* Varsayılan metin rengi */
    display: flex;
    flex-direction: column; /* İkon ve yazıyı dikey hizala */
    align-items: center;
  }
  
  .navbar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Resmi yuvarlak yap */
    transition: all 0.3s ease-in-out; /* Hover geçişleri için animasyon */
  }
  
  .navbar-link:hover .navbar-icon {
    border: 3px solid pink; /* Hover durumunda pembe border */
  }
  
  .navbar-link a {
    font-size: 12px;
    margin-top: 5px; /* Yazıyı resimden ayır */
  }
  
  .logout-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000; /* Logout buton metni */
  }
  
  .logout-btn:hover .navbar-icon {
    border: 3px solid pink; /* Logout ikonu için hover efekti */
  }
  
  .logout-btn a {
    font-size: 12px;
    margin-top: 5px; /* Logout yazısını ikonun altına taşı */
  }
  